<!DOCTYPE html>
<html>

<body>
  
  <!-- <a href="/file-upload"> LOAD DATA</a> -->
  

  
 
  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" [ngClass]="{ 'active': navbarOpen }">
      <div class="sidebar-header">
        <h3>Processing Tools</h3>
      </div>

      <ul class="list-unstyled components">
  
        <li class="active">
         
         
        </li>

        <li>
          <a href="#">Home</a>

        </li>
        <li>
          <a (click)="onPress()">B-Scan Image</a>
          <ng-http-loader> </ng-http-loader>
        </li>
        <li>
          <a (click)="onPress1()">Mean-Subtracted Image</a>
        </li>
        <li>
          <a (click)="onPress2()">Range-Doppler Image</a>
        </li>
        <li>
          <a (click)="onPress3()">Target From SVD</a>
        </li>
        <li>
          <a (click)="onPress4()">Clutter From SVD</a>
        </li>
        <li>
          <a (click)="getTrajectory()">Target Trajectory</a>
        </li>

  
  
      </ul>


    </nav>

    <!-- Page Content Holder -->
    <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" (click)="toggleNavbar()" class="navbar-toggle collapsed">

              <span></span>
              
              <span></span>
             
              <span></span>
             
             
      
            
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" *ngIf="!navbarOpen">
            <i class="fa fa-align-justify"></i>
          </button>


        </div>
      </nav>
      <!-- <div class="row">
        <div class="col-8"> -->
          
          <!-- <label class="btn btn-default p-0">
            <input type="file" multiple (change)="selectFiles($event)" />
          </label>
        
        <div class="col-4">
          <hr> -->
          <!-- <button
            class="btn btn-success btn-sm"
            [disabled]="!selectedFiles"
            (click)="uploadFiles()"
          >
            Upload
          </button>  -->
        
      <!-- </div> -->
      
      <canvas id="myCanvas"
        style="margin-top:0%;  left: 50%; position: absolute; width: 1000px; height: 800px; transform: translate(-50%, -50%);">
      </canvas>
      <script src="script.js"></script>


      <div id='container'>
        <div id='container'>
          <div id='element' style=" border-color: black; background-color: rgb(205, 227, 241);width:980px; height:700px; margin-left: 13.8%; margin-top: 3%;"></div>
        </div>


      </div>

    </div>
  </div>
  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <!-- Popper.JS -->
  <!-- Bootstrap JS -->
  <div class="split left">

   
  </div>
 
  




