<h5
    style="text-align: center; font-family: 'Times New Roman', Times, serif; font-weight: bolder; font-size: xx-large; color: green; text-decoration: underline;">
    B-Scan Processing
</h5>
<hr>


<div class="vertical-center">
    <button class="btn btn-success" style="text-align: center;">
        GET IMAGE
    </button>
</div>

<input type="button" id='script' name="scriptbutton" value=" Run Script " (click)="runScript()">

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


<!-- Uncommnet me later.....!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- <div>
    <div class="Container mt-5">


        <div class="fakeimg">

            <div id="chartContainer"
                style="height: 500px; width: 100%; border-radius: 50 mm; border-color: rgb(8,8,8);">
            </div>


        </div>
    </div>
</div> -->